{% extends 'books/base.html' %}
{% block title %}Detalji knjige — BookLog{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm mb-4">
                <div class="card-body p-4">
                    <div id="knjiga-info"></div>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h5 class="card-title mb-3">Dodaj recenziju</h5>
                    <div class="mb-3">
                        <label class="form-label">Ocjena</label>
                        <select name="" id="ocjena" class="form-select">
                            <option value="1">1 ⭐</option>
                            <option value="2">2 ⭐⭐</option>
                            <option value="3">3 ⭐⭐⭐</option>
                            <option value="4">4 ⭐⭐⭐⭐</option>
                            <option value="5">5 ⭐⭐⭐⭐⭐</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"> Reacenzija</label>
                        <textarea id="tekst" class="form-control" rows="3" placeholder="Napišite recenziju..."></textarea>
                    </div>
                    <button onclick="dodajRecenziju()" class="btn btn-primary">Spremi recenziju</button>
                    <div id="recenzija-error" class="text-danger mt-2" style="display:none"></div>
                </div>
            </div>

            <div class="mt-4 mb-2 d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Recenzije</h4>
            </div>

            <div id="recenzije-lista" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const user = JSON.parse(localStorage.getItem('user') || '{}');

        function getCsrfToken() {
            return document.cookie.split(';')
                .find(c => c.trim().startsWith('csrftoken='))
                ?.split('=')[1] ?? '';
        }

        function escapeHtml(str) {
        if (!str) return '';
        const div = document.createElement('div');
        div.appendChild(document.createTextNode(String(str)));
        return div.innerHTML;
    }

        const token = localStorage.getItem('access_token');
        // extract book id from URL /api/books/1/
        const knjigaId = window.location.pathname.split('/').filter(Boolean).pop();
        let trenutniKorisnik = { id: null, is_admin: false };

         if (!token) {
            window.location.href = '/auth/login/';
        }

        // load book details and reviews on page load
        async function ucitajKnjigu() {
            const response = await fetch(`/api/books/${knjigaId}/`);
            const data = await response.json();

            trenutniKorisnik = data.trenutni_korisnik

            document.getElementById('knjiga-info').innerHTML = `
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <h2 class="fw-bold mb-1">${data.naslov}</h2>
                        <p class="text-muted mb-1">${data.autor} · ${data.godina_izdanja} </p>
                        ${data.zanr ? `<span class="badge bg-secondary mb-3">${data.zanr}</span>` : ''}
                    </div>
                </div>
                ${data.opis ? `<p class="mt-3">${data.opis}</p>` : ''}
            `;

            prikaziRecenzije(data.recenzije);
        }

        function prikaziRecenzije(recenzije) {
            const lista = document.getElementById('recenzije-lista');
            const currentUserId = user?.id;

            if (recenzije.length === 0) {
                lista.innerHTML = '<p class="text-muted">Nema recenzija.</p>';
                return;
            }
            lista.innerHTML = recenzije.map(r => {
                const mozeObrisati = trenutniKorisnik.is_admin || trenutniKorisnik.id === r.korisnik_id;
                return `
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                            <strong>${escapeHtml(r.korisnik__ime)}</strong>
                            <span class="badge bg-warning text-dark">⭐ ${r.ocjena}/5</span>
                        </div>
                        <p class="mb-2">${escapeHtml(r.tekst)}</p>
                        ${mozeObrisati ? `<button onclick="obrisiRecenziju(${r.id})" class="btn btn-outline-danger btn-sm">Obriši</button>` : ''}
                    </div>
                </div>
            `}).join('');
        }

        // add review without page refresh
        async function dodajRecenziju() {
            const tekst = document.getElementById('tekst').value;
            const ocjena = document.getElementById('ocjena').value;

            const response = await fetch(`/api/books/${knjigaId}/reviews/`, {
                method: 'POST',
                headers: { 
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`,
                    'X-CSRFToken': getCsrfToken()
                 },
                body: JSON.stringify({ tekst, ocjena: parseInt(ocjena) })
            });

            if (response.ok) {
                document.getElementById('tekst').value = '';
                ucitajKnjigu(); // reload reviews dynamically
                window.location.href = '/books/'
            } else {
                const data = await response.json();
                // alert(data.error);
                const errorDiv = document.getElementById('recenzija-error');
                errorDiv.innerText = data.error || 'Greška pri dodavanju recenzije';
                errorDiv.style.display = 'block';
            }
        }

        // delete review without page refresh
        async function obrisiRecenziju(id) {
            const response = await fetch(`/api/reviews/${id}/obrisi/`, {
                method: 'DELETE',
                headers: { 
                    'Authorization': `Bearer ${token}`,
                    'X-CSRFToken': getCsrfToken()
                 }
            });

            if (response.ok) {
                ucitajKnjigu(); // reload reviews dynamically
            }
        }

        ucitajKnjigu();
    </script>
    {% endblock %}