{% extends 'books/base.html' %}
{% block title %}Book list — BookLog{% endblock %}
{% block content %}
    <a href="{% url 'knjiga_dodaj' %}" class="btn btn-outline-light mb-3">Dodaj knjigu</a>
    <div class="list-group">
    {% for book in books %}
      <div class="list-group-item bg-transparent border-light mb-2">
        <h5 class="mb-1">{{ book.naslov }}</h5>
        <p class="mb-0 text-muted">{{ book.autor }} — {{ book.godina_izdanja }}</p>
      </div>
    {% endfor %}
    </div>
{% endblock %}